<div class="contents master-rsetaurants-index">
  <h1>店舗一覧</h1>
  <table>
    <thead>
      <tr>
        <th>店舗名</td>
        <th>メニュー数</td>
        <th>レビュアー数</th>
        <th>レビューイ数</th>
        <th>評価</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= link_to "#{restaurant.name}", owner_restaurant_path(restaurant) %></td>
          <td><%= @menus.where(restaurant_id: restaurant.id).count %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
