<h1>店舗一覧</h1>
<table>
  <thead>
    <tr>
      <td>店舗名</td>
      <td>メニュー数</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @restaurants.each do |restaurant| %>
        <td><%= restaurant.name %></td>
        <td><%= @menus.where(restaurant_id: restaurant.id).count %></td>
      <% end %>
    </tr>
  </tbody>
</table>