<div class="contents menus-edit">
  <h2 class="menus-edit-h2">メニュー編集</h2>
  <%= render partial: 'form', locals: {
    restaurant: @restaurant,
    menu: @menu,
    tags: @tags,
    menu_tags: @menu_tags,
    path: owner_restaurant_menu_path, submit: '更新' } %>
</div>
