<div class="contents menus-new">
  <h2>メニュー追加</h2>
  <%= render partial: 'form', locals: {
    restaurant: @restaurant,
    menu: @menu,
    tags: @tags,
    menu_tags: @menu_tags,
    path: owner_restaurant_menus_path, submit: '作成' } %>
</div>
