<section>
  <div class="about-header">
    <div class="header-image"></div>
  </div>
</section>
<section>
  <div class="about-contents">
    <h1>About This Service</h1>
    <p class="about-message">
      当サイトは飲食店と飲食店を利用したい方（ユーザー様）をつなげるサイトです。<br>
      飲食業界では予約後の当日キャンセルや無断キャンセルが相次いでおり、キャンセル料は発生するものの<br>
      食品ロスは避け切ることができません。<br>
      さらにはキャンセル料ですら収納できないこともあります。<br><br>

      当サービスではそのような緊急事態に真価を発揮します。<br><br>

      キャンセルされてしまった飲食店は食品や人件費などのロスを最低限にするため<br>当サービスを使ってキャンセルが発生したことを告知し<br>
      ユーザーの皆様は、そのメニューを特典付きで楽しんでいただくことができるような仕組みとなっています。<br><br>

      もちろん、緊急時以外にも通常メニューや期間限定メニュー、当サイト限定のメニューもご予約いただけます。<br><br>

      また、ユーザーの皆様、飲食店の皆様には"信用スコア"というステータスを設けています。<br>
      基本サービスの、お店の予約→来店完了となることで信用スコアは累積され<br>信用スコアに応じて割引やイベントへのご招待なども今後、検討しております。<br>
      逆に飲食店様が許容できない予約のキャンセルなどが発生した場合には<br>ご予約されたユーザー様の信用スコアは減点されることもあり<br>
      悪質な場合には今後のご利用をお控えいただくことになる場合もございます。<br>
      （キャンセル規定の詳細はメニューごとに予約前にご確認いただけます。）<br><br>

      飲食店様の信用スコアにつきましても、スコアに応じて当サイト内で広告の設置など<br>より便利にご利用いただけるように検討中です。<br><br>

      双方ともに、信用スコアが増えるほど、よりお得にご利用いただける仕組みになっています。<br><br>

      その他、当サイト独自のポイントも用意しており、イベントやご利用金額に応じて付与し<br>
      飲食店の予約時に<span class="under-line">1pt=1円</span>としてご利用いただけます。<br><br><br>


      当サービスは利用者のみなさまの信用によって成り立っていますが<br>当サービスへの信用も得られて、初めてご満足いただけるものと思います。<br>
      今後もより良いサービスをご提供できるように改善を重ねて参ります。<br>
      みなさまのご利用、心よりお待ちしております。<br><br><br><br>



      matchi運営<br>
    </p>
    <p><%= link_to 'TOPへ', public_path %></p>
  </div>
</section>