<div class="homes-container">
  <div class="administrator">
    <h1>運営者情報</h1>
    <h2>代表責任者名</h2>
      佐々木正男
    <h2>所在地</h2>
      大阪府門真市五月田町10-14 ルーナ五月田502
    <h2>メールアドレス</h2>
      mail@matchi-gourmet.com
    <h2>ホームページURL</h2>
      https://matchi-gourmet.com/
    <h2>サイト作成者</h2>
      Masao Sasaki
  </div>
</div>
