<div class="contents homes-container">
  <div class="administrator">
    <h1>運営者情報</h1>
    <h2>代表責任者名</h2>
      佐々木正男
    <h2>所在地</h2>
      大阪府門真市五月田町10-14 ルーナ五月田502
    <h2>メールアドレス</h2>
      <a href="mailto:mail@matchi-gourmet.com">mail@matchi-gourmet.com</a>
    <h2>ホームページURL</h2>
    <a href="https://matchi-gourmet.com/">https://matchi-gourmet.com/</a>
    <h2>サイト作成者</h2>
      Masao Sasaki
  </div>
</div>
