<div class="homes-container">
  <div class="contact">
    <h1>連絡先</h1>
    <p>お手数ですが、サービスに関するご意見ご要望、店舗の登録などにつきましては<br>
      下記アドレス宛にメールをお送りください。<br>
      3営業日以内にお返事致します。<br>
      お問い合わせの内容によってはお時間をいただく場合もございますので、あらかじめご了承ください。
    </p>
    <h2>メールアドレス</h2>
    <p><a href="mailto:mail@matchi-gourmet.com">mail@matchi-gourmet.com</a></p>
  </div>
</div>
