<div class="contents public-reservation-completion">
  <% url = request.fullpath %>
  <% if url.include?("new_reservation_id") %>
    <h2>ご予約が確定しました！</h2>
    <p><%= link_to '店舗からのメッセージをご確認ください。', public_user_reservation_path(current_public_user, @new_reservation_id) %></p>
  <% else %>
    <h2>ご予約は確定済みです！</h2>
    <p><%= link_to '予約一覧', public_user_reservations_path %></p>
  <% end %>
</div>
