<div class="contents public-reservation-completion">
  <h2>ご予約が確定しました！</h2>

  <p><%= link_to '店舗からのメッセージをご確認ください', public_user_reservation_path(current_public_user, @reservation) %></p>

    <%=  %>
  </p>

</div>
