<h1>会員一覧</h1>
<table>
  <thead>
    <tr>
      <td>名前</td>
      <td>予約状況</td>
      <td>会員ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.name_family}"+"#{user.name_first}" %></td>
        <td></td>
        <td><%= user.user_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
