<div class="master-user-show">
  <h1>ユーザー詳細</h1>
  <%= form_with model: @user, url: master_user_path(@user), method: :patch, local: true do |f| %>
    <div class="field">
      <%= f.label :user_status %>
      <%= f.select :user_status, [:'有効会員', :'退会済み', :'強制退会'] %>
    </div>

    <%= f.submit %>
  <% end %>
</div>