/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//共通

:root {
  --logo-image-width: 100px;
  --logo-image-height: 70px;
  --hamburger-transition: 0.3s;
}

* {
  margin: 0;
  color: #555;
  list-style: none;
}

body {
  background-color: #fffcfc;
}

ul {
  padding: 0;
}

td, th {
  padding: 10px;
}

.btn {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 0.7em;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.under-line {
  text-decoration: underline;
}

.circle {
  border-radius: 50%;
}
.hamburger:hover {
  cursor: pointer;
}

.error-messages li {
  margin: 0;
  list-style: disc;
}

// application.html.erb
header {
  border-bottom: solid 1px #ccc;
  // margin-bottom: 30px;
}

.pc-header li {
  margin: 0 10px;
}

.error-message {
  margin: 10px 0;
  color: red;
}

.pc-header {
  justify-content: space-between;
}

.logo-image {
  background-image: image-url("no_image.png");
  background-size: cover;
  background-position: center;
  width: var(--logo-image-width);
  height: var(--logo-image-height);
}


.body-container {
  min-height: 500px;
}

.contents {
  margin: 0 auto;
  padding: 0 70px;
  max-width: 900px;
}

// main
main {
  margin: 30px 0;
}

// owner/restaurant/show
.restaurant-introduction {
  margin: 20px 0;
}

.restaurant-status {
  margin: 20px 0;
}

// owner/restaurants
.restaurant-edit .submit {
  text-align: center;
}

// owner/menus
.menus-create {
  text-align: right;
}

//public/homes

.homes-container {
  max-width: 900px;
  padding: 70px;
}

h1 {
  margin-bottom: 10px;
}

.restaurants-all h2 {
  margin: 30px 0 10px;
  text-align: center;
}

.top-menus, .top-restaurant {
  margin: 10px 0;
}

.header-image {
  margin-bottom: 10px;
  background-image: image-url("header-1.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.top-contents {
  flex: 1;
}

.top-nav a {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding: 0.6em;
  border-bottom: 3px solid white;
}

.top-nav a:hover {
  border-bottom: 3px solid orange;
  transition: 500ms;
  background: linear-gradient(#fff, #eee);
}

.top-side {
  padding: 10px;
  flex-shrink: 0;
  width: 300px;
}

.top-side > div {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffefef;
}

.registration {
  background-color: lightgoldenrodyellow;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}

.new-registration {
  text-align: center;
}

.new-registration p {
  margin-top: 10px;
}

.new-menus-list {
  width: 160px;
  margin: 0 auto;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

#get-position {
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

#get-position:hover {
  cursor: pointer;
}

#map {
  height: 400px;
  margin-top: 10px;
}

//public/privacy
.privacy h2, .terms h2, .contact h2, .administrator h2 {
  margin: 1.5em 0 0.4em;
}

//public/About
.about-contents h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

.about-contents p {
  text-align: center;
}

.about-message {
  max-width: 700px;
  margin: 10px auto;
  padding: 30px;
  font-size: 0.8em;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(255, 240, 240);
}

//public/users
.user-links {
  padding: 20px;
  margin: 20px;
  border: 3px solid black;
  border-radius: 10px;
  background: #f5f5f5
}

.sns-btn {
  width: 50px;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.user-info div, .user-profile div, .user-sns, .profile-contents, .user-status, .user-performance {
  margin: 20px auto 10px;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.new-user-performance {
  flex-wrap: wrap;
}

.user-performance h3 {
  text-align: center;
  grid-area: title;
}
.new-menu-reviewees {
  margin: 0 auto;
  grid-area: box1;
}
.new-restaurant-reviewees {
  margin: 0 auto;
  grid-area: box2;
}
.new-reviewers {
  margin: 0 auto;
  grid-area: box3;
}
.new-reservations {
  margin: 0 auto;
  grid-area: box4;
}

//public/users/profile
.profile-image {
  text-align: center;
  margin-right: 20px;
  flex: 1;
}

.profile_image {
  object-fit: cover;
}

.handle-name-sns {
  padding-left: 10px;
  flex: 1;
}

// public/users/edit
  .users-edit h2 {
    margin: 20px 0;
  }

  .users-edit > h2 {
    text-align: center;
  }


  .users-edit-btn {
    justify-content: space-between;
  }
  .users-edit-btn .submit {
    flex: 1;
    text-align: right;
  }
  .users-edit-btn .destroy {
    flex: 1;
    text-align: right;
    font-size: 0.8em;
  }

// public/restaurants
.public-restaurants-index > h2 {
  text-align: center;
}

.restaurant-contents {
  flex: 1;
}

//devise
.devise-form h2 {
  margin: 10px 0;
}

.session {
  text-align: center;
}

.actions {
  margin: 20px 0;
  text-align: center;
}

.registration-btn {
  padding: 1em;
  font-size: 1.1em;
  background-color: #ffdd00;
}

// footer
footer {
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
}

.copyright {
  margin-top: 10px;
  text-align: center;
}

.footer-container {
  justify-content: space-around;
}

.footer-links li {
  font-size: 0.8em;
}

#move-head {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.move-head {
  width: 50px;
  height: 50px;
  background-color: rgba($color: #ffdd00, $alpha: 0.5);
  border: #ffaa00;
  text-align: center;
  position: relative;
}

.move-head > .fa-arrow-up {
  line-height: 50px;
  color: rgba(255, 255, 255, 0.7);
}

.move-head:hover {
  cursor: pointer;
}

.homes-container li {
  list-style-type: decimal;
  margin: 0.8em 0;
}

// PC端末用
@media (min-width: 851px) {

  .top-main {
    padding: 0 30px;
    display: flex;
  }

}

// PC・タブレット共通
@media (min-width: 601px) {

  .sp-header {
    display: none;
  }

  .header-container {
    padding: 0 70px;
    line-height: 70px;
    margin: 0 auto;
  }

  // public/user/profile
  .profile-head {
    display: flex;
    justify-content: space-between;
  }

  // owner/restaurant/show
  .restaurant-head {
    display: flex;
    justify-content: space-between;
  }
  // .restaurant-head h1 {
  // }
  // .restaurant-head p {
  // }

  .restaurant_image {
    text-align: center;
    object-fit: cover;
  }

  .restaurant-status {
    display: flex;
    justify-content: space-around;
  }

}

// タブレット端末用
@media (max-width: 850px) {

  .top-main {
    padding: 0 30px;
  }

  .top-side {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }

}


// スマホ用
@media (max-width: 600px) {

  .header-container {
    width: auto;
    padding: 0 20px;
    min-height: 70px;
    margin: 0 auto;
  }

  .pc-header {
    display: none;
  }

  .sp-header {
    height: 70px;
    justify-content: space-between;
  }

  .sp-header .logo-image {
    width: var(--logo-image-width);
    margin-right: 50%;
    left: 40%;
  }

  .hamburger {
    transition: 0.1s;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border: solid 1px #aaa;
    border-radius: 5px;
    position: relative;
    text-align: center;
    z-index: 2;
  }

  .bar {
    width: 80%;
    height: 3px;
    background-color: #aaa;
    position: absolute;
    border-radius: 3px;
    left: 10%;
  }

  .bar-top {
    transition: var(--hamburger-transition);
    top: 22%;
  }
  .bar-center {
    transition: var(--hamburger-transition);
    top: 44%;
  }
  .bar-bottom {
    transition: var(--hamburger-transition);
    top: 70%;
  }
  .circle .bar-top {
    transition: var(--hamburger-transition);
    top: 47%;
    transform: rotate(45deg);
  }
  .circle .bar-center {
    transition: var(--hamburger-transition);
    top: 44%;
    opacity: 0;
  }
  .circle .bar-bottom {
    transition: var(--hamburger-transition);
    transform: rotate(-45deg);
    top: 47%;
  }

  header {
    position: relative;
  }

  .hamburger-menu {
    width: 60%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.9);
    position: fixed;
    text-align: center;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: var(--hamburger-transition) cubic-bezier(1, 0, 0, 0);
  }

  .hamburger-menu ul {
    margin-top: 70px;
  }
  .hamburger-menu a {
    color: white;
  }

  .menu-hide {
    width: 60%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.9);
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;
    transition: var(--hamburger-transition) cubic-bezier(0, 0, 0, 1);
  }

  .circle {
    transition: var(--hamburger-transition);
    border-radius: 50%;
  }

  .alert {
    padding-top: 4px;
    position: relative;
    line-height: 70px;
  }
  // 未読メッセージの通知アイコン
  // .icon {
  //   width: 10px;
  //   height: 10px;
  //   background-color: orange;
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 20px;
  //   left: 0;
  // }

  .body-container {
    padding: 0 20px;
  }

  .header-image {
    height: 200px;
  }

  .body-container {
    min-height: 500px;
  }

  .contents {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    height: 100%;
  }

  .top-main {
    padding: 0;
  }

  .top-side {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }

  .top-nav, .simple-mypage, .new-registration, .new-menus {
    display: none;
  }

  .box {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
  }

  // homes
  .homes-container {
    padding: 0;
  }

  // public/users/profile

  .profile_image {
    padding-right: 0;
  }

}
