<div class="contents mypage">
  <div class="mypage-main">
    <h1>My Page</h1>
    <h2><%= "#{@current_user.name_family}" + "#{@current_user.name_first}" %> 様</h2>
    <ul>
      <li>予約数：<%= @reservation_count %> 件</li>
      <% if false %>
      <li>会員ランク：<%#= current_user.rank %></li>
      <li>ポイント数：<%#= current_user.points %></li>
      <li>レビューした数：<%#= @user_review.count %></li>
      <li>レビューされた数：<%#= @restaurant_review.count %></li>
      <% end %>
    </ul>
  </div>

  <%= render 'user_links' %>

</div>
